.home-container {
  padding: 24px;
  max-width: 1200px; /* Limit the width on larger screens */
  margin: 0 auto;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns on mobile */
  gap: 16px;
}

@media (min-width: 768px) {
  .movie-grid {
    grid-template-columns: repeat(3, 1fr); /* 3 columns on tablet */
  }
}

@media (min-width: 1024px) {
  .movie-grid {
    grid-template-columns: repeat(4, 1fr); /* 4 columns on desktop */
  }
}